<tr th:if="${item}">
     <td class="d-none" th:text="${item.getProductoModel().idProducto}"></td>
     <td class="width-30" th:text="${item.getProductoModel().nombre}"></td>
     <td class="width-10" th:text="${item.getProductoModel().talle}"></td>
     <td class="width-20" th:text="${item.getProductoModel().precio}"></td>
     <td class="width-40 pt-1 pb-1">
          <div class="d-flex w-100 justify-content-center">
               <div class="input-group w-75 flex-nowrap">
                    <div class="input-group-prepend">
                         <button
                              class="btn btn-outline-info btn-sm btn-cart"
                              data-toggle="tooltip" data-placement="top"
                              title="Restar" type="button">
                              <svg th:replace="fragments/icons :: subtractIcon"></svg>
                         </button>
                    </div>
                    <input type="number" th:value="${item.cantidad}" min="1"
                         class="form-control text-center border-info no-arrows"
                         style="min-width: 2em !important; padding: 0;">
                    <div class="input-group-append">
                         <button
                              class="btn btn-outline-info btn-sm btn-cart"
                              data-toggle="tooltip" data-placement="top"
                              title="Agregar" type="button">
                              <svg th:replace="fragments/icons :: addIcon"></svg>
                         </button>
                         <button class="btn btn-outline-danger btn-sm"
                              data-toggle="tooltip" data-placement="top"
                              title="Eliminar Item" type="button" 
                              th:attr = "data-idItem= ${item.idItem},
                                   data-idProducto= ${item.getProductoModel().idProducto}"
                              onclick="eliminarItem(this)"
                         >
                              <svg th:replace="fragments/icons :: deleteIcon"></svg>    
                         </button>
                    </div>
               </div>
          </div>
     </td>
</tr>