<tr th:each="empleado :${empleados}">
	<td th:text="${empleado.nombre}"></td>
	<td th:if="${isAdmin}" th:text="${empleado.idLocal}"></td>
	<td th:text="${empleado.sueldoBasico}"></td>
	<td th:text="${empleado.comisionVentaCompleta}"></td>
	<td th:text="${empleado.comisionVentaExterna}"></td>
	<td th:text="${empleado.comisionStockCedido}"></td>
	<td th:text="${empleado.sueldoFinal}"></td>
	<td><button class="btn btn-sm btn-info"
		th:onclick="abrirRecibo([[${empleado.legajo}]])">Recibo</button></td>
</tr>
<tr th:if="${empleados.size() == 0}" >
	<td><small>No hay sueldos cargados</small></td>
</tr>
