<!DOCTYPE html>
<html lang="en">

     <head th:replace="fragments/head :: head(title='Cliente')"></head>

<body class="container-fluid m-0 p-0">
     <nav th:replace="fragments/navbar :: navbar(active='abm')"></nav>
     <header class="text-center m-3">
          <h1 class="display-4">CLIENTES</h1>
     </header>
     <main class="w-100 d-flex flex-column align-items-center">
          <!-- ADD MENU -->
          <button class="btn btn-info m-3" type="button" data-toggle="collapse" data-target="#collapseForm"
               id="buttonAgregar">
               Agregrar
          </button>
          <form class="col-11 col-sm-8 col-md-7 m-1 p-2 mx-auto bg-light rounded collapse" id="collapseForm" action="#"
               th:action="@{/cliente/agregar}" th:object="${cliente}" method="post">
               <div class="form-group row">
                    <label for="nombreNuevoCliente" class="col-md-2 col-3">Nombre</label>
                    <input type="text" class="form-control col-md-9 col-8" id="nombreNuevoCliente"
                         th:field="*{nombre}" />
               </div>
               <div class="form-group row">
                    <label for="apellidoNuevoCliente" class="col-md-2 col-3">Apellido</label>
                    <input type="text" class="form-control col-md-9 col-8" id="apellidoNuevoCliente"
                         th:field="*{apellido}" />
               </div>
               <div class="form-group row">
                    <label for="emailNuevoCliente" class="col-md-2 col-3">Email</label>
                    <input type="email" class="form-control col-md-9 col-8" id="emailNuevoCliente"
                         th:field="*{email}" />
               </div>
               <div class="form-group row">
                    <label for="dniNuevoCliente" class="col-md-2 col-3">DNI</label>
                    <input type="number" class="form-control col-sm-4 col-5" id="dniNuevoCliente" th:field="*{dni}" />
               		<p th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">DNI tiene errores</p>
               </div>
               <div class="form-group row">
                    <label for="fechaNacNuevoCliente" class="col-md-2 col-3">Fecha de Nac.</label>
                    <input type="date" class="form-control col-sm-4 col-5" id="fechaNacNuevoCliente"
                         th:field="*{fechaNacimiento}" />
               </div>
               <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
               </div>
          </form>
          <!-- LIST -->
          <div class="container-fluid col-12 col-md-11 text-center table-responsive">
               <table class="table w-100 shadow mb-3 bg-white rounded">
                    <thead class="thead-dark">
                         <tr>
                              <th scope="col">ID</th>
                              <th scope="col">DNI</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Apellido</th>
                              <th scope="col">fecha de Nac.</th>
                              <th scope="col">Email</th>
                              <th scope="col">Nro. Cliente</th>
                              <th scope="col"></th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr th:each="cliente :${clientes}">
                              <td th:text="${cliente.id}"></td>
                              <td th:text="${cliente.dni}"></td>
                              <td th:text="${cliente.nombre}"></td>
                              <td th:text="${cliente.apellido}"></td>
                              <td th:text="${cliente.fechaNacimiento}"></td>
                              <td th:text="${cliente.email}"></td>
                              <td th:text="${cliente.nroCliente}"></td>
                              <td class="d-flex justify-content-around">
                                   <div data-toggle="tooltip" data-placement="top" title="Modificar">
                                        <a href="#" data-toggle="modal" data-target="#modifyClient"
                                             class="modifyButton">
                                             <img th:src="@{/images/pencil.png}" alt="" class="list-icon edit-icon"
                                                  th:attr="data-index=${clienteStat.index}" />
                                        </a>
                                   </div>
                                   <form th:action="@{/cliente/eliminar/{id}(id = ${cliente.id})}"
                                        method="POST" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                        <button type="submit" class="delete-button">
                                             <img th:src="@{/images/trashcan.png}" alt=""
                                                  class="list-icon delete-icon" />
                                        </button>
                                   </form>
                              </td>
                         </tr>
                    </tbody>
               </table>
          </div>
          <!-- MODAL EDIT CLIENT -->
          <div class="modal fade" id="modifyClient" tabindex="-1" role="dialog">
               <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                         <div class="modal-header">
                              <h5 class="modal-title" id="tituloModificarCliente"></h5>
                              <button type="button" class="close" data-dismiss="modal">
                                   <span aria-hidden="true">&times;</span>
                              </button>
                         </div>
                         <div class="modal-body">
                              <form class="col-12 m-1 p-2 mx-auto bg-light rounded" action="#"
                                   th:action="@{/cliente/modificar}" th:object="${cliente}" method="post">
                                   <input type="number" class="d-none" id="idClienteModificar"
                                        th:field="*{id}" />
                                   <input type="number" class="d-none" id="nroClienteModificar"
                                        th:field="*{nroCliente}" />
                                   <div class="form-group row">
                                        <label for="nombreModificarCliente" class="col-sm-3 col-4">Nombre</label>
                                        <input type="text" class="form-control col-md-8  col-7"
                                             id="nombreModificarCliente" th:field="*{nombre}" />
                                   </div>
                                   <div class="form-group row">
                                        <label for="apellidomodificarCliente" class="col-sm-3 col-4">Apellido</label>
                                        <input type="text" class="form-control col-md-8 col-7"
                                             id="apellidomodificarCliente" th:field="*{apellido}" />
                                   </div>
                                   <div class="form-group row">
                                        <label for="emailmodificarCliente" class="col-sm-3 col-4">Email</label>
                                        <input type="email" class="form-control col-md-8 col-7"
                                             id="emailmodificarCliente" th:field="*{email}" />
                                   </div>
                                   <div class="form-group row">
                                        <label for="dnimodificarCliente" class="col-sm-3 col-4">DNI</label>
                                        <input type="number" class="form-control col-5" id="dnimodificarCliente"
                                             th:field="*{dni}" />
                                   </div>
                                   <div class="form-group row">
                                        <label for="fechaDeNacmodificarCliente" class="col-sm-3 col-4">Fecha de
                                             Nac.</label>
                                        <input type="date" class="form-control col-5" id="fechaDeNacmodificarCliente"
                                             th:field="*{fechaNacimiento}" />
                                   </div>
                                   <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </main>
     <footer th:replace="fragments/footer :: footer"></footer>
     <!-- Contenedor del mensaje de alerta al no poder realizar una operación, cargado desde js -->
     <div class="p-1 col-11 col-sm-7 col-md-6 col-lg-4" id="alertContainer"></div>
     <script th:inline="javascript">
          /*<![CDATA[*/
          var clients = /*[[${clientes}]]*/'default';
          var clienteEliminado = /*[[${clienteEliminado}]]*/ 'default';
          /*]]>*/
          // Verifica si hubo una operación de eliminación de empleado y si no pudo realizarse lanza un alert
          if(clienteEliminado != null && !clienteEliminado){
               let alertContainer = document.getElementById("alertContainer");
               alertContainer.innerHTML =
                    '<div class="p-4 alert alert-danger alert-dismissible fade show" role="alert">' +
                         '<strong>¡ERROR!</strong> El cliente no pudo ser eliminado' +
                         '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                              '<span aria-hidden="true">&times;</span>' +
                         '</button>' +
                    '</div> ';
          }
          /*]]>*/
          //Listener to modal's modify client
          let modifyButtons = document.querySelectorAll('.modifyButton');
          modifyButtons.forEach(button => button.addEventListener('click', event => {
               let clientIndex = event.target.dataset.index;
               document.getElementById('tituloModificarCliente').innerText = "Modificar Cliente #" + clients[clientIndex].nroCliente;
               document.getElementById("idClienteModificar").value = clients[clientIndex].id;
               document.getElementById("nroClienteModificar").value = clients[clientIndex].nroCliente;
               document.getElementById("nombreModificarCliente").value = clients[clientIndex].nombre;
               document.getElementById("apellidomodificarCliente").value = clients[clientIndex].apellido;
               document.getElementById("emailmodificarCliente").value = clients[clientIndex].email;
               document.getElementById("dnimodificarCliente").value = clients[clientIndex].dni;
               document.getElementById("fechaDeNacmodificarCliente").value = clients[clientIndex].fechaNacimiento;
          }));
     </script>
     <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>
