<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Factura')"></head>

<body class="container-fluid m-0 p-0">
     <nav th:replace="fragments/navbar :: navbar(active='factura')"></nav>
     <div class="w-100 d-flex justify-content-center p-5" id="spinnerContainer">
          <div class="spinner-border text-dark" style="width: 3rem; height: 3rem;" role="status">
               <span class="sr-only m-5">Loading...</span>
          </div>
     </div>
     <main class="w-100 d-flex flex-column align-items-center invisible">
          <div class="d-flex justify-content-center">
               <button class="btn btn-secondary m-4" onclick="window.print();return false;">
                    <i class="fas fa-print"></i><br />IMPRIMIR</button>
               <button class="btn btn-secondary m-4" onclick="descargar()">
                    <i class="fas fa-download"></i><br />DESCARGAR</button>
          </div>
          <div id="container-container">
               <div id="factura-container">
                    <div class="barraNaranja"></div>
                    <div class="remitente-info">
                         <div id="sucursal-info">
                              <img th:src="@{/images/unla.png}" alt="UNLA ICONO" />
                              <div id="info">
                                   <p class="sucursal-title roboto"><strong>UNLa Stock</strong></p>
                                   <p class="sucursal-text roboto"
                                        th:text="${'Sucursal ' + factura.getLocal().getNombreLocal()}"></p>
                                   <p class="sucursal-text roboto"
                                        th:text="${factura.getLocal().getDireccion() + ', Buenos Aires'}"></p>
                                   <p class="sucursal-text roboto"
                                        th:text="${'Tel. ' + factura.getLocal().getTelefono()}"></p>
                                   <p class="sucursal-text roboto">CUIT: 30-68287386-4</p>
                              </div>
                              <div id="hoja">
                                   <small>Hoja 1/1</small>
                              </div>
                         </div>
                         <div id="factura-info">
                              <div>
                                   <p id="factura-title" class="roboto">FACTURA</p>
                                   <p class="factura-text roboto">Nro. de Factura:
                                        <span id="nroFactura" th:text="${' 0000' + factura.getIdFactura()}"></span>
                                   </p>
                                   <p class="factura-text roboto">Fecha de emisión: <span
                                             th:text="${factura.getFechaCorta()}"></span></p>
                              </div>
                         </div>
                    </div>
                    <div id="cliente-info">
                         <div id="cliente">
                              <p class="rol roboto">Facturar a:</p>
                              <p class="datos roboto" th:text="${factura.getCliente().getNombreCompleto()}"></p>
                              <p class="datos roboto" th:text="${'DNI ' + factura.getCliente().getDni()}"></p>
                              <p class="datos roboto">Consumidor final</p>

                         </div>
                         <div id="vendedor">
                              <p class="rol roboto">Vendedor:</p>
                              <p class="datos roboto" th:text="${factura.getEmpleado().getNombreCompleto()}"></p>
                         </div>
                    </div>
                    <div id="changoContainer">
                         <table class="roboto">
                              <thead>
                                   <tr>
                                        <th class="column-250px">Producto</th>
                                        <th>Talle</th>
                                        <th>Cantidad</th>
                                        <th>Precio ($)</th>
                                        <th>Importe</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <tr th:each="item : ${items}">
                                        <td class="column-250px" th:text="${item.getProductoModel().getNombre()}"></td>
                                        <td th:text="${item.getProductoModel().getTalle()}"></td>
                                        <td th:text="${item.getCantidad()}"></td>
                                        <td th:text="${item.getProductoModel().getPrecio()}">230.00</td>
                                        <td th:text="${item.getProductoModel().getPrecio() * item.getCantidad()}"></td>
                                   </tr>
                              </tbody>
                         </table>
                    </div>
                    <div id="ultimaSeccion">
                         <div id="QR-seccion">
                              <img th:src="@{/images/QR.png}" alt="" />
                              <small>Visitenos en <br />
                                   <a href="https://sds-unla.herokuapp.com/">https://sds-unla.herokuapp.com/</a>
                              </small>
                         </div>
                         <div id="total-seccion">
                              <p id="total" class="roboto">TOTAL: <span
                                        th:text="${'$' + factura.getCosteTotal()}"></span></p>
                              <small>Vencimiento dentro de 15 días</small>
                              <img id="codigo" />
                              <svg th:attr="data-value = ${factura.getIdFactura()}, 
                                   data-text = ${'0000' + factura.getIdFactura()}" class="codigo"></svg>
                         </div>
                    </div>
                    <p id="saludo" class="roboto"><strong>¡Gracias por su compra!</strong></p>
                    <div class="barraNaranja barra-final"></div>
               </div>
          </div>
     </main>
     <footer th:replace="fragments/footer :: footer"></footer>
     <div th:replace="fragments/scripts :: scripts"></div>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet" />
     <!-- ESTILOS -->
     <link rel="stylesheet" type="text/css" th:href="@{/css/factura.css}" media="all" />
     <link rel="stylesheet" th:href="@{/css/facturaPrint.css}" type="text/css" media="print">
     <!-- SCRIPTS PARA GENERAR CODIGO DE BARRA -->
     <script type="text/javascript"
          src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
     <!-- SCRIPT PARA GENERAR PDF -->
     <script th:src="@{/libraries/es6-promise.min.js}"></script>
     <script th:src="@{/libraries/jspdf.min.js}"></script>
     <script th:src="@{/libraries/html2canvas.min.js}"></script>
     <script th:src="@{/libraries/html2pdf.bundle.min.js}"></script>
     <!--SCRIPT FACTURA-->
     <script th:src="@{/js/factura.js}"></script>

</body>

</html>