<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Factura')"></head>

<body class="container-fluid m-0 p-0">
     <nav th:replace="fragments/navbar :: navbar(active='factura')"></nav>
     <div class="w-100 d-flex justify-content-center p-5" id="spinnerContainer">
          <div class="spinner-border text-dark" style="width: 3rem; height: 3rem;" role="status">
               <span class="sr-only m-5">Loading...</span>
          </div>
     </div>
     <main class="w-100 d-flex flex-column align-items-center invisible">
          <div class="d-flex justify-content-center" style="page-break-after:avoid">
               <button class="btn btn-secondary m-4" onclick="window.print();return false;">
                    <i class="fas fa-print"></i><br />IMPRIMIR</button>
               <button class="btn btn-secondary m-4" onclick="descargar()">
                    <i class="fas fa-download"></i><br />DESCARGAR</button>
          </div>
          <small id="avisoDeCompatibilidad" class="d-none text-danger roboto">
               Para imprimir varias páginas se recomienda Chrome u otro navegador basado en Chromium
          </small>
          <div id="facturasContainer">
               <div th:each="treceItems : ${todosLosItems}">
                    <div th:replace="fragments/hojaFactura :: factura(
                                   items = ${treceItems}, 
                                   hojaNro = ${treceItemsStat.index + 1} + '/' + ${todosLosItems.size()},
                                   ultimaHoja = ( ${treceItemsStat.index + 1} == ${todosLosItems.size()} )
                              )">
                    </div>
                    <div th:if="${treceItemsStat.index + 1} != ${todosLosItems.size()}"
                         style="page-break-before: always; margin:0;"></div>
               </div>
          </div>
     </main>
     <footer th:replace="fragments/footer :: footer"></footer>
     <div th:replace="fragments/scripts :: scripts"></div>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet" />
     <!-- ESTILOS -->
     <link rel="stylesheet" type="text/css" th:href="@{/css/factura.css}" media="all" />
     <link rel="stylesheet" th:href="@{/css/facturaPrint.css}" type="text/css" media="print">
     <!-- SCRIPTS PARA GENERAR CODIGO DE BARRA -->
     <script type="text/javascript"
          src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
     <!-- SCRIPT PARA GENERAR PDF -->
     <script th:src="@{/libraries/es6-promise.min.js}"></script>
     <script th:src="@{/libraries/jspdf.min.js}"></script>
     <script th:src="@{/libraries/html2canvas.min.js}"></script>
     <script th:src="@{/libraries/html2pdf.bundle.min.js}"></script>
     <!--SCRIPT FACTURA-->
     <script th:src="@{/js/factura.js}"></script>
</body>

</html>
