<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Facturas')">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">

     <link rel="stylesheet" type="text/css"
          href="C:\codigo\tpoo2\sistema-de-democratizacion-de-stock\src\main\resources\static\css\factura.css"
          media="all" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
     <nav th:replace="fragments/navbar :: navbar(active='abm')"></nav>
     <main id="factura-container">
          <div class="barraNaranja"></div>
          <div class="remitente-info">
               <div id="sucursal-info">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Universidad_Nacional_de_Lan%C3%BAs_logo.png"
                         alt="UNLA ICONO" />
                    <div>
                         <p class="sucursal-title roboto"><strong>UNLa Stock</strong></p>
                         <p class="sucursal-text roboto">Sucursal Sarandí Norte</p>
                         <p class="sucursal-text roboto">Av. Mitre 3999, Sarandí, Buenos Aires</p>
                         <p class="sucursal-text roboto">Tel: 4220-1414</p>
                         <p class="sucursal-text roboto">CUIT: 30-68287386-4</p>
                    </div>
                    <div id="hoja">
                         <small>Hoja 1/2</small>
                    </div>
               </div>
               <div id="factura-info">
                    <div>
                         <p id="factura-title" class="roboto">FACTURA</p>
                         <p class="factura-text roboto">Nro. de Factura: <span>0012 3321</span></p>
                         <p class="factura-text roboto">Fecha de emisión: <span>12/01/2020</span></p>
                    </div>
               </div>
          </div>
          <div id="cliente-info">
               <div id="cliente">
                    <p class="rol roboto">Facturar a:</p>
                    <p class="datos roboto">Juan Gabriel Posadas</p>
                    <p class="datos roboto">DNI: 38.998.081</p>
                    <p class="datos roboto">Consumidor final</p>

               </div>
               <div id="vendedor">
                    <p class="rol roboto">Vendedor:</p>
                    <p class="datos roboto">Jose Ramon Quiñones</p>
               </div>
          </div>
          <div id="changoContainer">
               <table class="roboto">
                    <thead>
                         <tr>
                              <th class="column-250px">Producto</th>
                              <th>Talle</th>
                              <th>Cantidad</th>
                              <th>Precio ($)</th>
                              <th>Importe</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr>
                              <td class="column-250px">Pantalon corto</td>
                              <td>3</td>
                              <td>10</td>
                              <td>230.00</td>
                              <td>990.00</td>
                         </tr>
                         <tr>
                              <td class="column-250px">Pantalon largo asd asd asd as d asd asd  dsa sad </td>
                              <td>2</td>
                              <td>10</td>
                              <td>230.00</td>
                              <td>990.00</td>
                         </tr>
                    </tbody>
               </table>
          </div>
          <div id="ultimaSeccion">
               <div id="QR-seccion">
                    <!-- A GENERAR AUTOMATICAMENTE LUEGO-->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png"
                    alt=""/>
                    <!-- REDIRIGIR A UNA SIMPLE LANDING PAGE -->
                    <small>Visitenos en <a href="#">www.unlastock.com</a></small>
               </div>
               <div id="total-seccion">
                    <p id="total" class="roboto">TOTAL: <span>$232.330</span></p>
                    <small>Vencimiento dentro de 15 días</small>
                    <!-- A GENERAR AUTOMATICAMENTE LUEGO-->
                    <img src="https://www.latiendadelasbarras.com/wp-content/uploads/2019/07/codigo-de-barras-informaci%C3%B3n.jpg" alt=""/>
               </div>
          </div>
          <p id="saludo" class="roboto"><strong>¡Gracias por su compra!</strong></p>
          <div class="barraNaranja barra-final"></div>
     </main>
     <footer th:replace="fragments/footer :: footer"></footer>
     <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>