<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Local')"></head>

<body class="container-fluid m-0 p-0">
     <nav th:replace="fragments/navbar :: navbar(active='abm')"></nav>
     <header class="text-center m-3">
          <h1 class="display-4">LOCALES</h1>
     </header>
     <main class="w-100 d-flex flex-column align-items-center">
          <!-- Si el usuario es del tipo GERENTE -->
          <div th:if="${currentUser.tipoGerente}">
               <!-- ADD MENU -->
               <button class="btn btn-info m-3" type="button" data-toggle="collapse" data-target="#collapseForm"
                    id="buttonAgregar">
                    Agregrar
               </button>
          </div>
          <form class="col-11 col-sm-8 col-md-7 m-1 p-2 mx-auto bg-light rounded collapse" id="collapseForm" action="#"
               th:action="@{/local/agregar}" th:object="${local}" method="post">
               <div class="form-group row">
                    <label for="nombreNuevoLocal" class="col-md-2 col-3">Nombre</label>
                    <input type="text" maxlength="10" class="form-control col-md-9 col-8" id="nombreNuevoLocal"
                         th:field="*{nombreLocal}" required/>
                    <p th:if="${#fields.hasErrors('nombreLocal')}" th:errors="*{nombreLocal}">Nombre no puede ir vacio</p>
               </div>
               <div class="form-group row">
                    <label for="latitudNuevoLocal" class="col-md-2 col-3">Latitud</label>
                    <input type="number" step="0.000001" class="form-control col-md-9 col-8"
                         id="latitudNuevoLocal" th:field="*{latitud}" min="-90" max="90" required/>
                    <p th:if="${#fields.hasErrors('latitud')}" th:errors="*{latitud}">Latitud tiene que estar entre -90 y 90</p>
               </div>
               <div class="form-group row">
                    <label for="longitudNuevoLocal" class="col-md-2 col-3">Longitud</label>
                    <input type="number" step="0.000001" class="form-control col-md-9 col-8"
                         id="longitudNuevoLocal" th:field="*{longitud}" min="-180" max="180" required/>
                    <p th:if="${#fields.hasErrors('longitud')}" th:errors="*{longitud}">Longitud tiene que estar entre -180 y 180</p>
               </div>
               <div class="form-group row">
                    <label for="direccionNuevoLocal" class="col-md-2 col-3">Dirección</label>
                    <input type="text" class="form-control col-sm-4 col-5" id="direccionNuevoLocal"
                         th:field="*{direccion}" required/>
                    <p th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Direccion no puede ir vacio</p>
               </div>
               <div class="form-group row">
                    <label for="telefonoNuevoLocal" class="col-md-2 col-3">Telefono</label>
                    <input type="number" min="0" max="2147483646" class="form-control col-sm-4 col-5"
                         id="telefonoNuevoLocal" th:field="*{telefono}" required/>
                    <p th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Telefono no puede ir vacio</p>
               </div>
               <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
               </div>
          </form>
          <!-- MODAL EDIT LOCAL -->
          <div class="modal fade" id="modifyLocal" tabindex="-1" role="dialog">
               <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                         <div class="modal-header">
                              <h5 class="modal-title" id="tituloModificarLocal"></h5>
                              <button type="button" class="close" data-dismiss="modal">
                                   <span aria-hidden="true">&times;</span>
                              </button>
                         </div>
                         <div class="modal-body">
                              <form class="col-12 m-1 p-2 mx-auto bg-light rounded" action="#"
                                   th:action="@{/local/modificar}" th:object="${local}" method="post">
                                   <input type="number" class="d-none" id="idModificarLocal" th:field="*{idLocal}" />
                                   <div class="form-group row">
                                        <label for="nombreModificarLocal" class="col-sm-3 col-4">Nombre</label>
                                        <input type="text" maxlength="10" class="form-control col-md-9 col-8" id="nombreModificarLocal"
                         					th:field="*{nombreLocal}" required/>
                    					<p th:if="${#fields.hasErrors('nombreLocal')}" th:errors="*{nombreLocal}">Nombre no puede ir vacio</p>
                                   </div>
                                   <div class="form-group row">
                                        <label for="latitudModificarLocal" class="col-sm-3 col-4">Latitud</label>
                                        <input type="number" step="0.000001" class="form-control col-md-9 col-8"
                         					id="latitudModificarLocal" th:field="*{latitud}" min="-90" max="90" required/>
                    					<p th:if="${#fields.hasErrors('latitud')}" th:errors="*{latitud}">Latitud tiene que estar entre -90 y 90</p>
                                   </div>
                                   <div class="form-group row">
                                        <label for="longitudModificarLocal" class="col-sm-3 col-4">Longitud</label>
                                        <input type="number" step="0.000001" class="form-control col-md-9 col-8"
                         					id="longitudModificarLocal" th:field="*{longitud}" min="-180" max="180" required/>
                    					<p th:if="${#fields.hasErrors('longitud')}" th:errors="*{longitud}">Longitud tiene que estar entre -180 y 180</p>
                                   </div>
                                   <div class="form-group row">
                                        <label for="direccionModificarLocal" class="col-sm-3 col-4">Dirección</label>
                                        <input type="text" class="form-control col-sm-4 col-5" id="direccionModificarLocal"
                         					th:field="*{direccion}" required/>
                    					<p th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Direccion no puede ir vacio</p>
                                   </div>
                                   <div class="form-group row">
                                        <label for="telefonoModificarLocal" class="col-sm-3 col-4">Telefono</label>
                                        <input type="number" min="0" max="2147483646" class="form-control col-sm-4 col-5"
                         					id="telefonoModificarLocal" th:field="*{telefono}" required/>
                    					<p th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Telefono no puede ir vacio</p>
                                   </div>
                                   <div class="form-group row">
                                        <label for="gerenteModificarLocal" class="col-sm-3 col-4">Gerente</label>
                                        <select th:field="*{gerente.legajo}" class="col-5 custom-select w-50"
                                             id="gerenteModificarLocal">
                                             <option value="1" selected hidden disabled>Seleccione un empleado</option>
                                        </select>
                                   </div>
                                   <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
          <!-- LIST -->
          <div class="container-fluid col-12 col-md-11 text-center table-responsive">
               <table class="table w-100 shadow mb-3 bg-white rounded">
                    <thead class="thead-dark">
                         <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Latitud</th>
                              <th scope="col">Longitud</th>
                              <th scope="col">Dirección</th>
                              <th scope="col">Telefono</th>
                              <th scope="col">Leg. Gerente</th>
                              <th> </th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr th:each="local :${locales}">
                              <td th:text="${local.idLocal}"></td>
                              <td th:text="${local.nombreLocal}"></td>
                              <td th:text="${local.latitud}"></td>
                              <td th:text="${local.longitud}"></td>
                              <td th:text="${local.direccion}"></td>
                              <td th:text="${local.telefono}"></td>
                              <td th:if="${local.gerenteLegajo} != 0">
                                   <div th:text="${local.gerenteLegajo}"></div>
                              </td>
                              <td th:unless="${local.gerenteLegajo} != 0">Ningún gerente asignado</td>
                              <div th:if="${currentUser.tipoGerente}">
                                   <td class="d-flex justify-content-around">
                                        <div data-toggle="tooltip" data-placement="top" title="Modificar">
                                             <a href="#" data-toggle="modal" data-target="#modifyLocal" class="modifyButton">
                                                  <img th:src="@{/images/pencil.png}" alt="" class="list-icon edit-icon"
                                                       th:attr="data-index=${localStat.index}" />
                                             </a>
                                        </div>
                                        <form th:action="@{/local/eliminar/{idLocal}(idLocal = ${local.idLocal})}"
                                             method="POST" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                             <button type="submit" class="delete-button">
                                                  <img th:src="@{/images/trashcan.png}" alt=""
                                                       class="list-icon delete-icon" />
                                             </button>
                                        </form>
                                   </td>
                              </div>
                         </tr>
                    </tbody>
               </table>
          </div>
     </main>
     <footer th:replace="fragments/footer :: footer"></footer>
     <!-- Contenedor del mensaje de alerta al no poder realizar una operación, cargado desde js -->
     <div class="p-1 col-11 col-sm-7 col-md-6 col-lg-4" id="alertContainer"></div>
     <script th:inline="javascript">
          /*<![CDATA[*/
          var locales = /*[[${locales}]]*/'default';
          var localEliminado = /*[[${localEliminado}]]*/ 'default';
          /*]]>*/
          // Verifica si hubo una operación de eliminación de local y si no pudo realizarse lanza un alert
          if (localEliminado != null && !localEliminado) {
               let alertContainer = document.getElementById("alertContainer");
               alertContainer.innerHTML =
                    '<div class="p-4 alert alert-danger alert-dismissible fade show" role="alert">' +
                    '<strong>¡ERROR!</strong> El local no pudo ser eliminado' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span>' +
                    '</button>' +
                    '</div> ';
          }
          // Listener a los botones de modificar local
          let modifyButtons = document.querySelectorAll('.modifyButton');
          modifyButtons.forEach(button => button.addEventListener('click', event => {
               let localIndex = event.target.dataset.index;
               document.getElementById('tituloModificarLocal').innerText = "Modificar Local #" + locales[localIndex].idLocal;
               document.getElementById("idModificarLocal").value = locales[localIndex].idLocal;
               document.getElementById("nombreModificarLocal").value = locales[localIndex].nombreLocal;
               document.getElementById("latitudModificarLocal").value = locales[localIndex].latitud;
               document.getElementById("longitudModificarLocal").value = locales[localIndex].longitud;
               document.getElementById("direccionModificarLocal").value = locales[localIndex].direccion;
               document.getElementById("telefonoModificarLocal").value = locales[localIndex].telefono;
               let selectGerenteElement = document.getElementById("gerenteModificarLocal");
               selectGerenteElement.innerHTML = '<option selected disabled>cargando</option>';
               fetch("http://localhost:8080/api/v1/local/empleados/" + locales[localIndex].idLocal)
                    .then((response) => {
                         return response.json();
                    })
                    .then((empleados) => {
                         selectGerenteElement.innerHTML = '';
                         for (var i = 0; i < empleados.length; i++) {
                              selectGerenteElement.innerHTML +=
                                   '<option value="' + empleados[i].legajo + '">' +
                                   empleados[i].legajo + ' - ' +
                                   empleados[i].nombre + ' ' +
                                   empleados[i].apellido +
                                   '</option>';
                         }
                    })
                    .catch((e) => {
                         console.log(e);
                    });
          }));
     </script>
     <script th:src="@{/js/abm.js}"></script>
     <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>
