<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Producto')"></head>

<body class="container-fluid m-0 p-0">
     <div th:replace="fragments/navbar :: navbar(active='abm')"></div>
     <header class="text-center m-3">
          <h1 class="display-4">PRODUCTOS</h1>
     </header>
     <main class="w-100 d-flex flex-column align-items-center">
          <!-- Contenedor de las respuestas a las solicitudes -->
          <div class="p-1 col-11 col-sm-7 col-md-6 col-lg-4" id="alertRespuesta"></div>
          <!-- Si el usuario es del tipo GERENTE -->
          <div th:if="${currentUser.tipoGerente}">
               <!-- ADD MENU -->
               <button class="btn btn-info m-3" type="button" data-toggle="collapse" data-target="#collapseForm"
                    id="buttonAgregar">
                    Agregrar
               </button>
          </div>
          <form class="col-11 col-sm-8 col-md-7 m-1 p-2 mx-auto bg-light rounded collapse" id="collapseForm" action="#"
               th:action="@{/producto/agregar}" th:object="${producto}" method="post">
               <div class="form-group row">
                    <label for="nombreNuevoProducto" class="col-md-2 col-3">Nombre</label>
                    <input type="text" class="form-control col-md-9 col-8" id="nombreNuevoProducto"
                         th:field="*{nombre}" required/>
                    <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre no puede ir vacio</p>
               </div>
               <div class="form-group row">
                    <label for="descripcionNuevoProducto" class="col-md-2 col-3">Descripción</label>
                    <input type="text" class="form-control col-md-9 col-8" id="descripcionNuevoProducto"
                         th:field="*{descripcion}" required/>
                    <p th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Descripcion no puede ir vacio</p>
               </div>
               <div class="form-group row">
                    <label for="precioNuevoProducto" class="col-md-2 col-3">Precio</label>
                    <input type="number" step="0.01" class="form-control col-md-9 col-8"
                         id="precioNuevoProducto" th:field="*{precio}" min="1" required/>
                    <p th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">Precio no puede ir vacio</p>
               </div>
               <div class="form-group row">
                    <label for="talleNuevoProducto" class="col-md-2 col-3">Talle</label>
                    <input type="number" class="form-control col-sm-4 col-5" id="talleNuevoProducto"
                         th:field="*{talle}" min="1" required/>
                    <p th:if="${#fields.hasErrors('talle')}" th:errors="*{talle}">Talle no puede ir vacio</p>
               </div>
               <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
               </div>
          </form>
          <!-- MODAL EDIT PRODUCT -->
          <div class="modal fade" id="modifyProduct" tabindex="-1" role="dialog">
               <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                         <div class="modal-header">
                              <h5 class="modal-title" id="tituloModificarProducto"></h5>
                              <button type="button" class="close" data-dismiss="modal">
                                   <span aria-hidden="true">&times;</span>
                              </button>
                         </div>
                         <div class="modal-body">
                              <form class="col-12 m-1 p-2 mx-auto bg-light rounded" action="#"
                                   th:action="@{/producto/modificar}" th:object="${producto}" method="post">
                                   <input type="number" class="d-none" id="idModificarProducto"
                                        th:field="*{idProducto}" />
                                   <div class="form-group row">
                                        <label for="nombreModificarProducto" class="col-sm-3 col-4">Nombre</label>
                                        <input type="text" class="form-control col-md-9 col-8" id="nombreModificarProducto"
                        					 th:field="*{nombre}" required/>
					                    <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre no puede ir vacio</p>
                                   </div>
                                   <div class="form-group row">
                                        <label for="descripcionModificarProducto"
                                             class="col-sm-3 col-4">Descripcion</label>
                                        <input type="text" class="form-control col-md-9 col-8" id="descripcionModificarProducto"
                      						th:field="*{descripcion}" required/>
                  						<p th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Descripcion no puede ir vacio</p>
                                   </div>
                                   <div class="form-group row">
                                        <label for="precioModificarProducto" class="col-sm-3 col-4">Precio</label>
                                        <input type="number" step="0.01" class="form-control col-md-9 col-8"
                        					id="precioModificarProducto" th:field="*{precio}" min="1" required/>
                					    <p th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">Precio no puede ir vacio</p>
                                   </div>
                                   <div class="form-group row">
                                        <label for="talleModificarProducto" class="col-sm-3 col-4">Talle</label>
                                        <input type="number" class="form-control col-sm-4 col-5" id="talleModificarProducto"
                         					th:field="*{talle}" min="1" required/>
                    					<p th:if="${#fields.hasErrors('talle')}" th:errors="*{talle}">Talle no puede ir vacio</p>
                                   </div>
                                   <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
          <!-- LIST -->
          <div class="container-fluid col-12 col-md-11 text-center table-responsive">
               <table class="table w-100 shadow mb-3 bg-white rounded">
                    <thead class="thead-dark">
                         <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Descripción</th>
                              <th scope="col">Precio</th>
                              <th scope="col">Talle</th>
                              <th scope="col"></th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr th:each="producto :${productos}">
                              <td th:text="${producto.idProducto}"></td>
                              <td th:text="${producto.nombre}"></td>
                              <td th:text="${producto.descripcion}"></td>
                              <td th:text="${producto.precio}"></td>
                              <td th:text="${producto.talle}"></td>
                              <div th:if="${currentUser.tipoGerente}">
                                   <td class="d-flex justify-content-around">
                                        <div data-toggle="tooltip" data-placement="top" title="Modificar">
                                             <a href="#" data-toggle="modal" data-target="#modifyProduct"
                                                  class="modifyButton">
                                                  <img th:src="@{/images/pencil.png}" alt="" class="list-icon edit-icon"
                                                       th:attr="data-index=${productoStat.index}" />
                                             </a>
                                        </div>
                                        <form th:action="@{/producto/eliminar/{idProducto}(idProducto = ${producto.idProducto})}"
                                             method="POST" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                             <button type="submit" class="delete-button">
                                                  <img th:src="@{/images/trashcan.png}" alt=""
                                                       class="list-icon delete-icon" />
                                             </button>
                                        </form>
                                   </td>
                              </div>
                         </tr>
                    </tbody>
               </table>
          </div>
     </main>
     <footer th:replace="fragments/footer :: footer"></footer>
     <!-- Contenedor del mensaje de alerta al no poder realizar una operación, cargado desde js -->
     <div class="p-1 col-11 col-sm-7 col-md-6 col-lg-4" id="alertContainer"></div>
     <script th:inline="javascript">
          /*<![CDATA[*/
          var products = /*[[${productos}]]*/'default';
          var productoEliminado = /*[[${productoEliminado}]]*/ 'default';
          /*]]>*/
          // Verifica si hubo una operación de eliminación de producto y sí pudo concretarse
          if (productoEliminado != null && !productoEliminado) {
               let alertContainer = document.getElementById("alertContainer");
               alertContainer.innerHTML =
                    '<div class="p-4 alert alert-danger alert-dismissible fade show" role="alert">' +
                         '<strong>¡ERROR!</strong> El producto no pudo ser eliminado' +
                         '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                              '<span aria-hidden="true">&times;</span>' +
                         '</button>' +
                    '</div> ';
          }
          //Listener to modal modify client
          let modifyButtons = document.querySelectorAll('.modifyButton');
          modifyButtons.forEach(button => button.addEventListener('click', event => {
               let productIndex = event.target.dataset.index;
               document.getElementById('tituloModificarProducto').innerText = "Modificar Producto #" + products[productIndex].idProducto;
               document.getElementById("idModificarProducto").value = products[productIndex].idProducto;
               document.getElementById("nombreModificarProducto").value = products[productIndex].nombre;
               document.getElementById("descripcionModificarProducto").value = products[productIndex].descripcion;
               document.getElementById("precioModificarProducto").value = products[productIndex].precio;
               document.getElementById("talleModificarProducto").value = products[productIndex].talle;
          }));
     </script>
     <script th:src="@{/js/abm.js}"></script>
     <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>
