<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Probando</title>
</head>

<body>
     <form action="#" th:action="@{/chango/crearvacio}" method="post">
          <button>Crear chango vacio</button>
     </form>
     <form action="#" th:action="@{/chango/crear}" method="post">
          <button>Crear chango con items</button>
     </form>
     <form action="#" th:action="@{/chango/item}" method="post">
          <button>Crear Item</button>
     </form>
     <form action="#" th:action="@{/chango/items}" method="post">
          <button>Crear muchos Items</button>
     </form>
</body>

</html>