<!DOCTYPE html>
<html lang="en">

<head>

     <head th:replace="fragments/head :: head(title='Chango')"></head>
     <title>Distancia</title>
</head>

<body class="container-fluid m-0 p-0">
     <nav th:replace="fragments/navbar :: navbar(active='chango')"></nav>
     <header class="text-center m-3">
          <h1 class="display-4">CHANGO</h1>
     </header>
     <!-- MAIN CONTENT -->
     <main class="w-100 d-flex flex-column align-items-center">
          <!-- TABLAS DE PRODUCTOS DISPONIBLES Y DEL CHANGO -->
          <div class="container-fluid w-100 text-center table-responsive d-flex flex-wrap justify-content-around">
               <!-- TABLAS DE PRODUCTOS DISPONIBLES -->
               <div class="chango-table m-0 p-0">
                    <p class="text-center quick-sand text-secondary p-0 m-0">PRODUCTOS DISPONIBLES</p>
                    <!-- BUSCADOR DE PRODUCTOS -->
                    <div class="input-group input-group-sm search-bar m-1">
                         <input type="text" class="form-control" placeholder="Producto...">
                         <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button">
                                   <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                             d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                        <path fill-rule="evenodd"
                                             d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                   </svg>
                              </button>
                         </div>
                    </div>
                    <table class="table shadow mb-3 bg-white rounded w-100">
                         <tr class="m-0 p-0">
                              <td class="m-0 p-0">
                                   <table class="table shadow bg-white rounded m-0 p-0">
                                        <thead class="thead-dark">
                                             <th scope="col" class="width-10">#</th>
                                             <th scope="col" class="width-30">Nombre</th>
                                             <th scope="col" class="width-20">Talle</th>
                                             <th scope="col" class="width-20">Precio</th>
                                             <th class="width-20"></th>
                                        </thead>
                                   </table>
                              </td>
                         </tr>
                         <tr class="m-0 p-0">
                              <td class="m-0 p-0">
                                   <div style="height:40vh; overflow:auto;">
                                        <table class="table shadow bg-white rounded">
                                             <tr th:each="producto :${productos}">
                                                  <td scope="col" class="width-10" th:text="${producto.idProducto}">
                                                  </td>
                                                  <td scope="col" class="width-30" th:text="${producto.nombre}"></td>
                                                  <td scope="col" class="width-20" th:text="${producto.talle}"></td>
                                                  <td scope="col" class="width-20" th:text="${'$' + producto.precio}">
                                                  </td>
                                                  <td class="width-20">
                                                       <form th:action="@{/chango/agregar-item/{idProducto}(idProducto = ${producto.idProducto})}"
                                                            th:object="${chango}" th:method="post">
                                                            <button class="btn btn-info btn-sm">AGREGAR</button>
                                                       </form>
                                                  </td>
                                             </tr>
                                        </table>
                                   </div>
                              </td>
                         </tr>
                    </table>
               </div>
               <!-- TABLA DE PRODUCTOS EN EL CHANGO-->
               <div class="chango-table">
                    <!-- RELLENO INVISIBLE PARA QUE QUEDE A LA MISMA ALTURA DE LA OTRA TABLA... -->
                    <div class="input-group input-group-sm  m-1 invisible">
                         <input type="text" class="form-control">
                    </div>
                    <p class="text-center quick-sand text-secondary p-0 m-0" th:text="${'CHANGO #' + chango.idChango}">
                         CHANGO</p>
                    <table class="table chango-table shadow mb-3 bg-white rounded">
                         <tr class="m-0 p-0">
                              <td class="m-0 p-0">
                                   <table class="table shadow bg-white rounded m-0">
                                        <thead class="thead-dark">
                                             <th scope="col" class="d-none"></th>
                                             <th scope="col" class="width-30">Nombre</th>
                                             <th scope="col" class="width-10">Talle</th>
                                             <th scope="col" class="width-20">Precio</th>
                                             <th scope="col" class="width-40">Cantidad</th>
                                        </thead>
                                   </table>
                              </td>
                         </tr>
                         <tr class="m-0 p-0">
                              <td class="m-0 p-0">
                                   <div style="height:40vh; overflow:auto;">
                                        <table class="table shadow bg-white rounded">
                                             <tr>
                                                  <td class="d-none"></td>
                                                  <td class="width-30">new item</td>
                                                  <td class="width-10">2</td>
                                                  <td class="width-20">$233</td>
                                                  <td class="width-40 pt-1 pb-1">
                                                       <div class="d-flex w-100 justify-content-center">
                                                            <div class="input-group w-75 flex-nowrap">
                                                                 <div class="input-group-prepend">
                                                                      <button
                                                                           class="btn btn-outline-info btn-sm btn-cart"
                                                                           data-toggle="tooltip" data-placement="top"
                                                                           title="Restar" type="button">
                                                                           <svg class="bi bi-cart-dash" width="1em"
                                                                                height="1em" viewBox="0 0 16 16"
                                                                                fill="currentColor"
                                                                                xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd"
                                                                                     d="M6 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
                                                                                <path fill-rule="evenodd"
                                                                                     d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                                                           </svg>
                                                                      </button>
                                                                 </div>
                                                                 <input type="number" value="1" min="1"
                                                                      class="form-control text-center border-info no-arrows"
                                                                      style="min-width: 1.5em !important;">
                                                                 <div class="input-group-append">
                                                                      <button
                                                                           class="btn btn-outline-info btn-sm btn-cart"
                                                                           data-toggle="tooltip" data-placement="top"
                                                                           title="Agregar" type="button">
                                                                           <svg class="bi bi-cart-plus" width="1em"
                                                                                height="1em" viewBox="0 0 16 16"
                                                                                fill="currentColor"
                                                                                xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd"
                                                                                     d="M8.5 5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                                                                                <path fill-rule="evenodd"
                                                                                     d="M8 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0v-2z" />
                                                                                <path fill-rule="evenodd"
                                                                                     d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                                                           </svg>
                                                                      </button>
                                                                      <button class="btn btn-outline-danger btn-sm"
                                                                           data-toggle="tooltip" data-placement="top"
                                                                           title="Eliminar Item" type="button">
                                                                           <svg class="bi bi-x-circle-fill" width="1em"
                                                                                height="1em" viewBox="0 0 16 16"
                                                                                fill="currentColor"
                                                                                xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd"
                                                                                     d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z" />
                                                                           </svg>
                                                                      </button>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </td>
                                             </tr>
                                        </table>
                                   </div>
                              </td>
                         </tr>
                    </table>
               </div>
               <!-- TOTAL -->
               <div class="d-flex w-100 justify-content-center">
                    <div class="col-8 col-sm-3 col-md-2 pb-1 bg-dark text-light border border-info rounded">
                         <p class="m-0 p-0 quicksand"><small><u>Total</u></small></p>
                         <p class="m-0 p-0 bigger-text quicksand">$1212</p>
                    </div>
               </div>
               <!-- BOTTON -->
               <button class="btn btn-primary mt-3">CONTINUAR</button>
     </main>
     <footer th:replace="fragments/footer :: footer"></footer>
     <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>