<!DOCTYPE html>
<html lang="en">

<head>
     <div th:insert="fragments/head :: head"></div>
     <title>Distancia</title>
</head>

<body class="container-fluid m-0 p-0">
     <div th:replace="fragments/navbar :: navbar"></div>
     <header class="text-center m-3">
          <h1 class="display-4">DISTANCIAS ENTRE LOCALES</h1>
     </header>
     <main class="w-100 d-flex flex-column align-items-center">
          <section class="bg-light rounded col-lg-4 col-md-5 col-sm-7 col-11 p-2 m-3 shadow p-3 mb-5">
               <form class="col-11 mx-auto text-center" action="#">
                    <div class="form-group row d-flex flex-column mb-4">
                         <label for="localDesde" class="quicksand">DESDE</label>
                         <select class="custom-select" id="localDesde" required>
                              <option value="0" selected hidden disabled>Seleccione un local</option>
                              <option th:each="local :${locales}" th:text="${local.idLocal + ' - ' + local.nombreLocal}"
                                   th:value="${local.idLocal}"></option>
                         </select>
                    </div>
                    <div class="form-group row d-flex flex-column mb-4">
                         <label for="localHasta" class="quicksand">HASTA</label>
                         <select class="custom-select" id="localHasta" required>
                              <option value="0" selected hidden disabled>Seleccione un local</option>
                              <option th:each="local :${locales}" th:text="${local.idLocal + ' - ' + local.nombreLocal}"
                                   th:value="${local.idLocal}"></option>
                         </select>
                    </div>
                    <div class="row d-flex justify-content-center m-3">
                         <p class="m-1 p-2 font-weight-bold text-light bg-secondary rounded w-50 quicksand"
                               id="distancia">0
                         </p>
                    </div>
               </form>
          </section>
     </main>
     <div th:replace="fragments/footer :: footer"></div>
     <script th:src="@{/js/distancia.js}"></script>
     <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>