<!DOCTYPE html>
<html lang="en">

<head>
     <head th:replace="fragments/head :: head(title='Distancia')"></head>
     <title>Distancia*</title>
</head>

<body class="container-fluid m-0 p-0">
     <nav th:replace="fragments/navbar :: navbar(active='distancia')"></nav>
     <header class="text-center m-3">
          <h1 class="display-4">LOCALES MÁS CERCANOS</h1>
     </header>
     <main class="w-100 d-flex flex-column align-items-center">
          <!-- OPCIONES DE VISUALIZACION DE LOCALES -->
          <div class="w-100 d-flex flex-column align-items-center">
               <section class="col-12 col-sm-11 pl-1 pr-1 d-flex justify-content-start flex-wrap">
                    <div class="form-group col col-11 col-sm-5 col-md-4 col-lg-3">
                         <label class="bigger-text" for="localActual">Local actual:</label>
                         <div>
                              <input type="hidden" th:value="${local.idLocal}" id="localActual"/>
                              <div>
                                   <p><i class="fa fa-building fa-2x" aria-hidden="true"></i>Nombre: <strong><span th:text="${local.nombreLocal}" /></strong></p>
                              </div>
                         </div>
                    </div>
                    <div class="form-group col col-11 col-sm-5 col-md-4 col-lg-3">
                         <label for="productoDeLotes">Producto</label>
                         <select class="custom-select " id="productoDeLotes">
                              <option value="0" selected>Seleccione producto</option>
                              <option th:each="p: ${productos}" th:value="${p.idProducto}" th:text="${p.nombre}">
                              </option>
                         </select>
                    </div>
                    <div class="form-group col col-11 col-sm-5 col-md-4 col-lg-3">
                         <label for="cantidadProducto" class="col-md-2 col-3">Cantidad</label>
                         <input type="number" min="1" class="form-control col-sm-4 col-5" id="cantidadProducto"/>
                    </div>
               </section>
          </div>
          <!-- LISTA DE LOCALES -->
          <div class="container-fluid col-12 col-md-11 text-center table-responsive">
               <table class="table w-100 shadow mb-3 bg-white rounded">
                    <thead class="thead-dark">
                         <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Local</th>
                              <th scope="col">Dirección</th>
                              <th scope="col">Distancia</th>
                              <th scope="col">Teléfono</th>
                              <th scope="col">Cant. actual</th>
                              <th scope="col"></th>
                         </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
               </table>
          </div>
     </main>
     <footer th:replace="fragments/footer :: footer"></footer>
     <script th:src="@{/js/distancia.js}"></script>
     <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>
