<!DOCTYPE html>
<html>

<head th:replace="fragments/head :: head(title='Ranking')"></head>

<body class="container-fluid m-0 p-0">
    <nav th:replace="fragments/navbar :: navbar(active='ranking')"></nav>
    <header class="text-center m-3">
          <h1 class="display-4">Ranking de productos</h1>
     </header>
    <main class="w-100 d-flex flex-column align-items-center">
    
        <div class="container  ">
            
            <table class="w-100 shadow mb-3 bg-white rounded table-hover table-bordered">
                <thead class="bg-dark text-center text-white  ">
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr th:each="producto :${listaProductos}" class="fila-producto ">
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.cantidad} +' unidades.'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>    
    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
