<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Sueldos')"></head>

<body class="container-fluid m-0 p-0">

	<!-- TITULO -->
	<nav th:replace="fragments/navbar :: navbar(active='Sueldos')"></nav>
	<header class="text-center m-3">
          <h1 class="display-4">Sueldos de los empleados</h1>
     </header>
	
	<!-- MUESTRA LOS EMPLEADOS -->
		<div class="container-fluid col-12 col-md-11 text-center table-responsive">
			<table class="table w-100 shadow mb-3 bg-white rounded">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Empleado</th>
						<th scope="col">Sueldo</th>
						<th scope="col">Local</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empleado :${empleados}">
						<td th:text="${empleado.nombre}"></td>
						<td th:text="${empleado.sueldoBasico}"></td>
						<td th:text="${empleado.local.nombreLocal}"></td>
					</tr>
				</tbody>
			</table>
		</div>


	<div th:replace="fragments/scripts :: scripts"></div>


</body>
</html>