<div th:fragment="factura" class="container-container">
     <div class="factura-container">
          <div class="barraNaranja"></div>
          <div class="remitente-info">
               <div class="sucursal-info">
                    <img th:src="@{/images/unla.png}" alt="UNLA ICONO" />
                    <div class="info">
                         <p class="sucursal-title roboto"><strong>UNLa Stock</strong></p>
                         <p class="sucursal-text roboto"
                              th:text="${'Sucursal ' + factura.getLocal().getNombreLocal()}"></p>
                         <p class="sucursal-text roboto"
                              th:text="${factura.getLocal().getDireccion() + ', Buenos Aires'}"></p>
                         <p class="sucursal-text roboto"
                              th:text="${'Tel. ' + factura.getLocal().getTelefono()}"></p>
                         <p class="sucursal-text roboto">CUIT: 30-68287386-4</p>
                    </div>
                    <div class="hoja">
                         <small>Hoja 1/1</small>
                    </div>
               </div>
               <div class="factura-info">
                    <div>
                         <p class="factura-title roboto">FACTURA</p>
                         <p class="factura-text roboto">Nro. de Factura:
                              <span class="nroFactura" th:text="${' 0000' + factura.getIdFactura()}"></span>
                         </p>
                         <p class="factura-text roboto">Fecha de emisión: <span
                                   th:text="${factura.getFechaCorta()}"></span></p>
                    </div>
               </div>
          </div>
          <div class="cliente-info">
               <div class="cliente">
                    <p class="rol roboto">Facturar a:</p>
                    <p class="datos roboto" th:text="${factura.getCliente().getNombreCompleto()}"></p>
                    <p class="datos roboto" th:text="${'DNI ' + factura.getCliente().getDni()}"></p>
                    <p class="datos roboto">Consumidor final</p>
               </div>
               <div class="vendedor">
                    <p class="rol roboto">Vendedor:</p>
                    <p class="datos roboto" th:text="${factura.getEmpleado().getNombreCompleto()}"></p>
               </div>
          </div>
          <div class="changoContainer">
               <table class="roboto">
                    <thead>
                         <tr>
                              <th class="column-250px">Producto</th>
                              <th>Talle</th>
                              <th>Cantidad</th>
                              <th>Precio ($)</th>
                              <th>Importe</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr th:each="item : ${items}">
                              <td class="column-250px" th:text="${item.getProductoModel().getNombre()}"></td>
                              <td th:text="${item.getProductoModel().getTalle()}"></td>
                              <td th:text="${item.getCantidad()}"></td>
                              <td th:text="${item.getProductoModel().getPrecio()}">230.00</td>
                              <td th:text="${item.getProductoModel().getPrecio() * item.getCantidad()}"></td>
                         </tr>
                    </tbody>
               </table>
          </div>
          <div class="ultimaSeccion">
               <div class="QR-seccion">
                    <img th:src="@{/images/QR.png}" alt="" />
                    <small>Visitenos en <br />
                         <a href="https://sds-unla.herokuapp.com/">https://sds-unla.herokuapp.com/</a>
                    </small>
               </div>
               <div class="total-seccion">
                    <p class="total roboto">TOTAL: <span
                              th:text="${'$' + factura.getCosteTotal()}"></span></p>
                    <small>Vencimiento dentro de 15 días</small>
                    <img id="codigo" />
                    <svg th:attr="data-value = ${factura.getIdFactura()}, 
                         data-text = ${'0000' + factura.getIdFactura()}" class="codigo"></svg>
               </div>
          </div>
          <p class="saludo roboto"><strong>¡Gracias por su compra!</strong></p>
          <div class="barraNaranja barra-final"></div>
     </div>
</div>