<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" th:href="@{/}">
          <img th:src="@{/images/unla.png}" width="35" height="35" class="d-inline-block align-top" alt="" />
          UNLa Stock
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
               <li class="nav-item" th:classappend="${active=='home'} ? active : ''">
                    <a class="nav-link" th:href="@{/}"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only">(current)</span></a>
               </li>
               <!-- Si es un GERENTE tiene el permiso de realizar los ABMs del resto de las cosas -->
               <span th:if="${currentUser.tipoGerente}">
                    <li class="nav-item dropdown" th:classappend="${active=='abm'} ? active : ''">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-bars" aria-hidden="true"></i> ABMs
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" th:href="@{/producto}">Productos</a>
                              <a class="dropdown-item" th:href="@{/local}">Locales</a>
                              <a class="dropdown-item" th:href="@{/empleado}">Empleados</a>
                              <a class="dropdown-item" th:href="@{/cliente}">Clientes</a>
                              <a class="dropdown-item" th:href="@{/lote}">Lotes</a>
                              <a class="dropdown-item" th:href="@{/item}">Items</a>
                              <a class="dropdown-item" th:href="@{/chango/todos}">Changos</a>
                         </div>
                    </li>
               </span>
               <span th:unless="${currentUser.tipoGerente}">
                    <a class="nav-link" th:href="@{/cliente}"><i class="fa fa-bars" aria-hidden="true"></i> Clientes</a>
                    <vr>
               </span>
               <li class="nav-item" th:classappend="${active=='distancia'} ? active : ''">
                    <a class="nav-link" th:href="@{/distancia}"><i class="fa fa-random" aria-hidden="true"></i> Distancia</a>
               </li>
               <li class="nav-item" th:classappend="${active=='ranking'} ? active : ''">
                    <a class="nav-link" th:href="@{/ranking}"><i class="fa fa-line-chart" aria-hidden="true"></i> Ranking</a>
               </li>
               <li class="nav-item" th:classappend="${active=='chango'} ? active : ''">
                    <a class="nav-link" th:href="@{/chango}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Chango</a>
               </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
               <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                         <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i id="icon-notif" class="fa fa-bell"></i> </a>
                         <!-- Contenedor de las notificaciones, cargado desde js -->
                         <div class="dropdown-menu" aria-labelledby="navDropDownLink" id="notificationContainer"></div>
                    </li>
               </ul>
               <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                         <input type="hidden" id="current-username" th:value="${currentUser.username}" />
                         <input type="hidden" id="current-idLocal" th:value="${currentUser.idLocal}" />
                         <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-user"></i> <span id="username" th:attr="data-idLocal=${currentUser.idLocal}" th:text="${currentUser.username}  " /></a>
                         <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                              <a class="dropdown-item" data-toggle="modal" data-target="#userDetails" href="#"><i class="fa fa-id-card" aria-hidden="true"></i> Detalles</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" th:href="@{/logout}"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
                         </div>
                    </li>
               </ul>
          </ul>
     </div>

     <div th:replace="fragments/user_details :: user_details"></div>

</nav>
