<div th:fragment="recibo" class="recibo-container">
     <div class="recibo-exterior">
          <div class="recibo-interior">
               <div class="linea"></div>
               <div class="cabecera">
                    <!-- CABECERA -->
                    <div class="cabecera-izquierda">
                         <div class="logo">
                              <img th:src="@{/images/unla.png}" alt="" />
                         </div>
                         <div class="datos-empresa">
                              <ul>
                                   <li>Razón Social: UNLa Stock</li>
                                   <li>CUIT: 30-68287386-4</li>
                                   <li th:text="${local.getDireccion() + ', Buenos Aires'}"></li>
                                   <li>Argentina</li>
                              </ul>
                         </div>
                    </div>
                    <div class="cabecera-derecha">
                         <h3 class="mt-3">RECIBO DE HABERES</h3>
                         <p>Ley N° 20.744</p>
                    </div>
               </div>
               <!-- INFO DEL EMPLEADO -->
               <div class="detalles">
                    <p class="mt-1 mb-0 text-center"><u>Datos</u></p>
                    <table>
                         <thead>
                              <tr>
                                   <th>Nombre y Apellido</th>
                                   <th>DNI</th>
                                   <th>Legajo</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <td th:text="${empleado.getFullName()}"></td>
                                   <td th:text="${empleado.getDni()}"></td>
                                   <td th:text="${empleado.getLegajo()}" id="legajo"></td>
                              </tr>
                         </tbody>
                    </table>
                    <table>
                         <thead>
                              <tr>
                                   <th>Categoría</th>
                                   <th>División</th>
                                   <th>Departamento</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <td>Comercio</td>
                                   <td th:unless="${empleado.isTipoGerente()}">Atención - Ventas</td>
                                   <td th:if="${empleado.isTipoGerente()}">Gerencia</td>
                                   <td th:text="${local.getNombreLocal()}"></td>
                              </tr>
                         </tbody>
                    </table>
                    <table>
                         <thead>
                              <tr>
                                   <th>Fecha de Ingreso</th>
                                   <th>Sueldo</th>
                                   <th>Liquidacion</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <td><strong>Pendiende</strong></td>
                                   <td th:text="${empleado.getSueldoBasico()}"></td>
                                   <td th:text="${'Mensual - ' + mes + ' ' + anio}" id="fecha"></td>
                              </tr>
                         </tbody>
                    </table>
               </div>
               <!-- LIQUIDACION -->
               <div class="liquidacion">
                    <table>
                         <thead>
                              <tr>
                                   <th>Detalle</th>
                                   <th>Haberes</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <td>Sueldo</td>
                                   <td th:text="${empleado.getSueldoBasico()}"></td>
                              </tr>
                              <tr>
                                   <td>Comisión venta completa</td>
                                   <td th:text="${empleado.getComisionVentaCompleta()}"></td>
                              </tr>
                              <tr>
                                   <td>Comision venta externa</td>
                                   <td th:text="${empleado.getComisionVentaExterna()}"></td>
                              </tr>
                              <tr>
                                   <td>Comision stock cedido</td>
                                   <td th:text="${empleado.getComisionStockCedido()}"></td>
                              </tr>
                         </tbody>
                    </table>
               </div>
               <!-- TOTAL -->
               <div class="seccion-final">
                    <div class="firma-container">
                         <hr />
                         <small>Firma Empleador</small>
                    </div>
                    <div class="total-container">
                         <p><strong>Total Neto: </strong>$<span th:text="${empleado.getSueldoFinal()}"></span></p>
                    </div>
               </div>
               <div class="linea"></div>
          </div>
     </div>
</div>