<div th:fragment="user_details" class="modal fade" id="userDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-info" role="document">
           <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">Detalles del usuario</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-3 text-center">
                        <img th:src="@{/images/user.png}" th:alt="${currentUser.nombreCompleto}" class="img-fluid z-depth-1-half rounded-circle">
                        <div style="height: 10px"></div>
                        <p class="title mb-0"><span th:text="${currentUser.username}" /></p>
                        <p class="text-muted " style="font-size: 13px"><span th:text="${currentUser.nombreCompleto}" /></p>
                    </div>
                    <div class="col-9">
                        <strong>Email: </strong><span span th:text="${currentUser.emailUser}" /><br>
                        <strong>Nro legajo: </strong><span span th:text="${currentUser.legajo}" /><br>
                        <div th:if="${currentUser.tipoGerente}"><strong>ROL: </strong><span>GERENTE</span></div>
                        <div th:unless="${currentUser.tipoGerente}"><strong>ROL: </strong><span>EMPLEADO</span></div>
                        <br><hr>
                        <div class="card-text">
                            <strong>Local: </strong><span span th:text="${currentUser.idLocal}" /><br>
                        </div>
                    </div>
              </div>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
