</html>
<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='Error 500 - Error interno del servidor')"></head>

<body class="container-fluid m-0 p-0">
	<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${active=='home'} ? active : ''">
                         <a class="navbar-brand nav-link" th:href="@{/}">
                              <img th:src="@{/images/unla.png}" width="35" height="35" class="d-inline-block align-top" alt="" /> Inicio
                         </a>
                    </li>
               </ul>
          </div>
     </nav>
     <header class="text-center m-4">
          <h1 class="quicksand mt-5 mb-5">ERROR INTERNO DEL SERVIDOR</h1>
          <h3 class="quicksand mb-5"><strong>El servidor encontró una condición inesperada que le impidió realizar la solicitud. </strong></h3>
     </header>
     <main class="w-100 d-flex flex-column align-items-center">
          <img th:src="@{/images/500.png}" alt="" width="50%"/>
     </main>
     <div th:replace="fragments/footer :: footer"></div>
     <!-- BOOTSTRAP Scripts -->
     <footer th:replace="fragments/scripts :: scripts"></footer>
</body>

</html>
