footer, nav, header, button, #avisoDeCompatibilidad{
     display: none !important;
}

.container-container {
     display: block;
     transform-origin: center top;
     transform: scale(0.8);
     /* EDGE  */
     -ms-transform-origin: center top;
     -ms-transform: scale(0.8);
     /*CHROME YFIREFOX*/
     -webkit-transform-origin: center top;
     -webkit-transform: scale(1.3);
}

@page {
     margin: 1cm 0.5cm 0.5cm 0.5cm;
}

/* ELIMINA EL ESPACIO DEL FOOTER */
body::after {
     content: '';
     display: inline;
}