footer, nav, header, button{
     display: none !important;
}

.container-container  {
     zoom: 1.28;
     display: block;
}

@page {
     margin: 1cm 0.5cm 0.5cm 0.5cm;
 }
 
/* ELIMINA EL ESPACIO DEL FOOTER */
body::after {
     content: '';
    display: inline;
}

