/* FUENTE */
.quicksand {
    font-family: 'Quicksand', sans-serif;
}

/* FOOTER */

html{
    height: 100%;
}
body {
    position: relative;
    min-height:100%; 
    padding-bottom:0; 
    margin:0;
    background-color: red;
}

body::after {
    content: '';
    display: block;
    height: 80px;
    padding: 0;
    margin: 0;
}

footer {
    font-size: 0.85em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
}

/* ABM ESTILOS  */

.list-icon {
    width: 1.2em;
    height: auto;
    padding: 0.1em;
    border-radius: 25%;
}

.edit-icon {
    background-color: rgb(187, 217, 245);
}

.delete-icon {
    background-color: rgb(247, 183, 183);
}

.edit-icon:hover {
    background-color: rgb(151, 205, 255);
}

.delete-icon:hover {
    background-color: rgb(245, 140, 140);
}

.delete-button {
    border-width: 0;
    background-color: rgba(0, 0, 0, 0.0);
}

#alertContainer {
    position: fixed;
    right: 2vw;
    top: 2vh;
}

/* DISTANCIA */

#distancia {
    font-size: large;
}

/* PROFILE MENU */
/*Para solucionar problema que el menú no se salga de los límites de la pantalla*/
li.dropdown:last-child .dropdown-menu {
  right: 0;
  left: auto;
}
