<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(title='UNLa Stock')"></head>

<body class="container-fluid m-0 p-0">
     <div th:replace="fragments/navbar :: navbar(active='home')"></div>
     <header class="text-center m-3">
          <h1 class="h2">SISTEMA DE DEMOCRATIZACION DE STOCK</h1>
     </header>
     <main class="w-100 d-flex flex-column align-items-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Universidad_Nacional_de_Lan%C3%BAs_logo.png" 
               alt="" class="rounded-circle border border-secondary" style="width: 15vmax;"/>
     </main>
     <div th:replace="fragments/footer :: footer"></div>
     <!-- BOOTSTRAP Scripts -->
     <footer th:replace="fragments/scripts :: scripts"></footer>
</body>

</html>
