@charset "utf-8";
/* CSS Document */

body {
  background-color: grey;
  color: black;
}

header {
	padding-top:7px;
	padding-bot:7px;
	background-color: black;	
	height:130px;
}

h1 {
  color: white;
  text-align: center;
  padding-top:8px;
}

h2 {
  color: white;
  text-align: center;
  padding-top:8px;
}

p {
  font-family: arial;
  font-size: 20px;
}

.logo{
	float:left;
	position:absolute;
	padding-left:13px;
	padding-top:8px;

}
.t1.consulta{
	float:right;
}
.t2{
	background-color:#8080c0;
}




