label, button {
    font-weight: bold;
}

.dropup {
    margin-left: 10px;
    border-right: 10px;
}

.dropup > .dropdown-menu {
    text-align: center;
}

#btn-alta, #btn-baja, #btn-modificacion {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 35%;
}

#btn-alta {
    background-color: #43A8EC;
}

#btn-baja {
    background-color: #FF0022;
}

#btn-modificacion {
    background-color: #569612;
}



label.subtitle-form {
    font-size: 20px;
    font-family: 'PT Serif', serif;
    text-decoration: underline;
}
